<div class="card-container">
  <div class="card">
    <img src="{{url}}" alt="Foto de perfil" class="profile-img" />
    <h2 class="name">karl marx</h2>
    <p class="email">karlmarx&#64;email.com</p>
    <textarea class="message-box" placeholder="Escribe algo..." [(ngModel)]="texto"></textarea>
    <p>{{texto}}</p>
  </div>
  <div class="card">
    <img src="{{url}}" alt="Foto de perfil" class="profile-img" />
    <h2 class="name">karl marx</h2>
    <p class="email">karlmarx&#64;email.com</p>
    <textarea class="message-box" placeholder="Escribe algo..." [(ngModel)]="texto"></textarea>
    <p>{{texto}}</p>
  </div>
  <div class="card">
    <img src="{{url}}" alt="Foto de perfil" class="profile-img" />
    <h2 class="name">karl marx</h2>
    <p class="email">karlmarx&#64;email.com</p>
    <textarea class="message-box" placeholder="Escribe algo..." [(ngModel)]="texto"></textarea>
    <p>{{texto}}</p>
  </div>
</div>
